siri/xsd/siri-bison-v900.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- Copyright:                                                                        -->
<!--     Dit document is eigendom van Platform BISON onder Samenwerkingsverband DOVA   -->
<!--     en wordt gepubliceerd onder de Creative Commons Licentie by-nd/3.0/nl,        -->
<!--     zie http://creativecommons.org/licences/by-nd/3.0/nl                          -->
<!-- Dit XSD is onderdeel van het TMI9 SIRI Nederlands profiel                         -->
<!--                                                                                   -->
<!-- Versie:  v9.0.0a                                                                  -->
<!--                                                                                   -->
<!-- Historie:                                                                         -->
<!--   v9.0.0  (oktober 2019) initiele versie                                          -->
<!--   v9.0.0a (januari 2020) copyright aangepast                                      -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<xsd:schema xmlns="http://www.siri.org.uk/siri" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.siri.org.uk/siri" elementFormDefault="qualified" attributeFormDefault="qualified" version="9.0.0" id="siri-bison-xsd">
	<xsd:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<!-- ABSTRACTE TYPEN                                                   -->
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<!-- BASIS TYPEN                                                       -->
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<xsd:complexType name="naturalLanguageString">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute ref="xml:lang" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="SrsNameType">
		<xsd:restriction base="xsd:string"/>
		<!-- Identificatie van het coördinaatsystem (normaliter "epsg:4326" = WGS84) -->
	</xsd:simpleType>
	<xsd:simpleType name="ParticipantCodeType">
		<xsd:restriction base="xsd:NMTOKEN"/>
	</xsd:simpleType>
	<xsd:simpleType name="DataFrameQualifierType">
		<xsd:restriction base="xsd:NMTOKEN"/>
	</xsd:simpleType>
	<xsd:simpleType name="versionType">
		<xsd:restriction base="xsd:NMTOKEN"/>
	</xsd:simpleType>
	<xsd:simpleType name="anyRef">
		<xsd:restriction base="xsd:NMTOKEN"/>
	</xsd:simpleType>
	<xsd:simpleType name="bisonRef">
		<xsd:restriction base="xsd:NMTOKEN"/>
		<!-- Verwijzing naar een door BISON vastgestelde enumeratie -->
	</xsd:simpleType>
	<xsd:simpleType name="netexRef">
		<xsd:restriction base="xsd:NMTOKEN"/>
		<!-- Verwijzing naar een object in de langetermijnplanning (NeTEx) -->
	</xsd:simpleType>
	<xsd:simpleType name="chbRef">
		<xsd:restriction base="xsd:NMTOKEN"/>
		<!-- Verwijzing naar een object in het Centraal Haltebestand (CHB) -->
	</xsd:simpleType>
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<!-- UITBREIDINGEN VAN DE SIRI STANDAARD                               -->
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<!-- ENUMERATIES                                                       -->
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<xsd:simpleType name="VehicleModesEnumeration">
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="air"/>
			<xsd:enumeration value="bus"/>
			<xsd:enumeration value="coach"/>
			<xsd:enumeration value="ferry"/>
			<xsd:enumeration value="metro"/>
			<xsd:enumeration value="rail"/>
			<xsd:enumeration value="tram"/>
			<xsd:enumeration value="underground"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ArrivalBoardingActivityEnumeration">
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="alighting"/>
			<xsd:enumeration value="noAlighting"/>
			<xsd:enumeration value="passThru"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DepartureBoardingActivityEnumeration">
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="boarding"/>
			<xsd:enumeration value="noBoarding"/>
			<xsd:enumeration value="passThru"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="FirstOrLastJourneyEnumeration">
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="firstServiceOfDay"/>
			<xsd:enumeration value="otherService"/>
			<xsd:enumeration value="lastServiceOfDay"/>
			<xsd:enumeration value="unspecified"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<!-- ELEMENTEN (ONDERSTEUNEND)                                         -->
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<xsd:complexType name="FramedVehicleJourneyRefStructure">
		<xsd:sequence>
			<xsd:element name="DataFrameRef" type="DataFrameQualifierType"/>
			<xsd:element name="DatedVehicleJourneyRef" type="netexRef"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<!-- ALGEMENE STRUCTUREN                                               -->
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<xsd:group name="JourneyPatternInfoGroup">
		<xsd:sequence>
			<xsd:element name="VehicleMode" type="VehicleModesEnumeration" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="PublishedLineName" type="naturalLanguageString" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="ExternalLineRef" type="anyRef" minOccurs="0"/>
			<xsd:element name="BrandingRef" type="netexRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="JourneyEndnamesGroup">
		<xsd:sequence>
			<xsd:element name="Via" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="PlaceRef" type="anyRef" minOccurs="0"/>
						<xsd:element name="ViaPriority" type="xsd:nonNegativeInteger" default="2" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="DestinationRef" type="netexRef" minOccurs="0"/>
			<xsd:element name="DestinationName" type="naturalLanguageString" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="ServiceInfoGroup">
		<xsd:sequence>
			<xsd:element name="OperatorRef" type="netexRef" minOccurs="0"/>
			<xsd:element name="ProductCategoryRef" type="netexRef" minOccurs="0"/>
			<xsd:element name="ServiceFeatureRef" type="bisonRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="DatedServiceInfoGroup">
		<xsd:sequence>
			<xsd:element name="FirstOrLastJourney" type="FirstOrLastJourneyEnumeration" default="unspecified" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="TimetableRealtimeInfoGroup">
		<xsd:sequence>
			<xsd:element name="Monitored" type="xsd:boolean" default="true" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="AimedVehicleArrivalGroup">
		<xsd:sequence>
			<xsd:element name="AimedArrivalTime" type="xsd:dateTime" minOccurs="0"/>
			<xsd:element name="ArrivalBoardingActivity" type="ArrivalBoardingActivityEnumeration" minOccurs="0"/>
			<xsd:element name="ArrivalStopAssignment" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="AimedQuayRef" type="chbRef"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="AimedVehicleDepartureGroup">
		<xsd:sequence>
			<xsd:element name="AimedDepartureTime" type="xsd:dateTime" minOccurs="0"/>
			<xsd:element name="DepartureBoardingActivity" type="DepartureBoardingActivityEnumeration" minOccurs="0"/>
			<xsd:element name="DepartureStopAssignment" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="AimedQuayRef" type="chbRef"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<!-- GROTE STRUCTUREN                                                  -->
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<!-- DATED VEHICLE JOURNEY (PT) -->
	<xsd:element name="DatedVehicleJourney">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="FramedVehicleJourneyRef" type="FramedVehicleJourneyRefStructure"/>
				<xsd:choice minOccurs="0">
					<xsd:element name="ExtraJourney" type="xsd:boolean" default="false"/>
					<xsd:element name="Cancellation" type="xsd:boolean" default="false"/>
				</xsd:choice>
				<xsd:group ref="JourneyPatternInfoGroup"/>
				<xsd:group ref="JourneyEndnamesGroup"/>
				<xsd:group ref="ServiceInfoGroup"/>
				<xsd:group ref="DatedServiceInfoGroup"/>
				<xsd:group ref="TimetableRealtimeInfoGroup"/>
				<xsd:element name="BlockRef" type="netexRef" minOccurs="0"/>
				<xsd:element name="DatedCalls">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element ref="DatedCall" minOccurs="2" maxOccurs="unbounded"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!-- DATED CALL (PT) -->
	<xsd:element name="DatedCall">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="StopPointRef" type="netexRef"/>
				<xsd:element name="Order" type="xsd:integer" minOccurs="0"/>
				<xsd:choice minOccurs="0">
					<xsd:element name="ExtraCall" type="xsd:boolean" default="false"/>
					<xsd:element name="Cancellation" type="xsd:boolean" default="false"/>
				</xsd:choice>
				<xsd:element name="DestinationDisplay" type="naturalLanguageString" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:group ref="AimedVehicleArrivalGroup"/>
				<xsd:group ref="AimedVehicleDepartureGroup"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<!-- FRAMES                                                            -->
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<!-- DATED TIMETABLE VERSION FRAME (PT) -->
	<xsd:element name="DatedTimetableVersionFrame">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="RecordedAtTime" type="xsd:dateTime"/>
				<xsd:element name="VersionRef" type="netexRef" minOccurs="0"/>
				<xsd:element name="LineRef" type="netexRef"/>
				<xsd:element name="DirectionRef" type="netexRef"/>
				<xsd:element ref="DatedVehicleJourney" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<!-- SERVICES                                                          -->
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<!-- GENERIEK DEEL -->
	<xsd:group name="CommonServiceDeliveryGroup">
		<xsd:sequence>
			<xsd:element name="ResponseTimestamp" type="xsd:dateTime"/>
			<xsd:element name="SubscriberRef" type="ParticipantCodeType" minOccurs="0"/>
			<xsd:element name="SubscriptionRef" type="xsd:NMTOKEN"/>
			<xsd:element name="Status" type="xsd:boolean" default="true" minOccurs="0"/>
			<xsd:element name="DefaultLanguage" type="xsd:language" default="nl" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- PRODUCTION TIMETABLE (PT) -->
	<xsd:element name="ProductionTimetableDelivery">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:group ref="CommonServiceDeliveryGroup"/>
				<xsd:element ref="DatedTimetableVersionFrame" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="version" type="versionType" fixed="1.0"/>
		</xsd:complexType>
	</xsd:element>
	<!-- ESTIMATED TIMETABLE (ET)  -->
	<xsd:element name="EstimatedTimetableDelivery">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:group ref="CommonServiceDeliveryGroup"/>
				<!-- nog verder in te vullen -->
			</xsd:sequence>
			<xsd:attribute name="version" type="versionType" fixed="1.0"/>
		</xsd:complexType>
	</xsd:element>
	<!-- VEHICLE MONITORING (VM)  -->
	<xsd:element name="VehicleMonitoringDelivery">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:group ref="CommonServiceDeliveryGroup"/>
				<!-- nog verder in te vullen -->
			</xsd:sequence>
			<xsd:attribute name="version" type="versionType" fixed="1.0"/>
		</xsd:complexType>
	</xsd:element>
	<!-- SITUATION EXCHANGE (SX)  -->
	<xsd:element name="SituationExchangeDelivery">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:group ref="CommonServiceDeliveryGroup"/>
				<!-- nog verder in te vullen -->
			</xsd:sequence>
			<xsd:attribute name="version" type="versionType" fixed="1.0"/>
		</xsd:complexType>
	</xsd:element>
	<!-- INCLUDED SITUATION EXCHANGE (SX)  -->
	<xsd:element name="IncludedSituationExchangeDelivery">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:group ref="CommonServiceDeliveryGroup"/>
				<!-- nog verder in te vullen -->
			</xsd:sequence>
			<xsd:attribute name="version" type="versionType" fixed="1.0"/>
		</xsd:complexType>
	</xsd:element>
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<!-- GEGEVENSLEVERING                                                  -->
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<xsd:group name="SiriServiceDeliveryGroup">
		<!--		<xsd:element ref="IncludedSituationExchangeDelivery" minOccurs="0" maxOccurs="unbounded"/> -->
		<xsd:choice>
			<xsd:element ref="ProductionTimetableDelivery" maxOccurs="unbounded"/>
			<!--		<xsd:element ref="EstimatedTimetableDelivery" maxOccurs="unbounded"/> -->
			<!--		<xsd:element ref="VehicleMonitoringDelivery" maxOccurs="unbounded"/> -->
			<!--		<xsd:element ref="SituationExchangeDelivery" maxOccurs="unbounded"/> -->
		</xsd:choice>
	</xsd:group>
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<xsd:element name="ServiceDelivery">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ResponseTimestamp" type="xsd:dateTime"/>
				<xsd:element name="ProducerRef" type="ParticipantCodeType"/>
				<xsd:element name="ResponseMessageIdentifier" type="xsd:normalizedString" minOccurs="0"/>
				<xsd:element name="Status" type="xsd:boolean" default="true" minOccurs="0"/>
				<xsd:group ref="SiriServiceDeliveryGroup"/>
			</xsd:sequence>
			<xsd:attribute name="srsName" type="SrsNameType" use="optional" default="epsg:4326"/>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
